header {
  background-color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
  display: flex;
  align-items: center;
}

.info-bar {
  display: flex;
  justify-content: space-between
}

.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  li {
    display: block;
    float: left;
    padding: 0;
    margin: 0 15px 15px 0;
    position: relative;
  }
}

app-card {
  display: block;
  cursor: pointer;
}

.cards.locked app-card {
  cursor: default;
}

.success-message {
  text-align: center;
  font-size: 30px;
}
